.herobox{
    width: 100%;
    height: 530px;
}

.herobox .slider{
    display: flex;
}

.herobox .slider .slide{
    display: none;
}

.herobox .slider .slide.active{
    display: block;
}

.herobox .slider img{
    width: 100%;
}